
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffe600aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/** Meus Estilos **/
.c_titulo{
  color:cyan;
  font-style: italic;
  text-align: center;
}

.c_paragrafo{
  color:white;
}

.c_corbranca{
  color:white;
}

#id_nome{
  color:green;
}

.c_imagem{
  height: 200px;
  width: 100px;
  transition: filter 300ms;
  will-change: filter;
  filter: drop-shadow(0 0 2em #f3e778aa);
  object-fit: cover; /* Isso garante que a imagem não fique distorcida */
}
